@model int
<div class="container mt-5">
    <div class="card shadow-lg">
        <img src="~/images/OrderConfirmation/3544858.jpg" alt="Order Confirmation Image" class="card-img-top img-fluid" style="height: 250px; object-fit: cover;">
        <div class="card-body text-center">
            <h3 class="card-title text-primary">Thank You for Your Payment!</h3>
            <p class="card-text text-muted">Payment has been successfully completed.</p>

            <div class="my-4">
                <p><strong>Order Number: </strong>@Model</p>
            </div>

            <a asp-action="details" asp-route-id="@Model" class="btn btn-primary">Back to Order Details</a>
        </div>
    </div>
</div>
